<div class="menu">
  <ul>
    <li><a {{action "addCandidate"}}> Add new candidate</a></li>
    <li class="right"> <a {{action "displayCandidates"}}> Show Candidates</a></li>
  </ul>

</div>

{{outlet}}
