<form>
  <fieldset>
    <legend> Admin login </legend>

    <div class="row">
      <div class="small-2 columns">
        <label> User Name: </label>
      </div>
      <div class="small-10 columns">
        {{input type="text" value=model.userName}}
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <label> Password: </label>
      </div>
      <div class="small-10 columns">
        {{input type="password" value=model.password}}
      </div>
    </div>

    {{#if hasException}}
    <div data-alert class="alert-box alert radius">
      Oops. Please check username/password.
    </div>
    {{/if}}

    <div class="row">
      <button class="login-button right" {{action 'signon'}}> Let me in </button>
    </div>




  </fieldset>
</form>
